In [2]:
from astropy.table import Table
import pandas as pd

In [3]:
sc = Table.read('./fits/straycats.fits')
for key in sc.columns:
    if sc[key].dtype.str.startswith('|S'):
        sc[key] = sc[key].astype('str')
        
        
nm = Table.read('./fits/numaster.fits')
numaster = nm.to_pandas()
numaster['OBSID'] = pd.to_numeric(numaster['OBSID'])

straycats = sc.to_pandas()

In [4]:
len(straycats['SEQID'].unique())

436

In [5]:
straycats['SL Type'].unique()

array(['??', 'HMXB-NS', 'AGN', 'LMXB-NS', 'NS', 'PWNe', 'LMXB-BH',
       ' Cluster', 'BHC', 'Eclipsing pulsar', 'HMXB-BH', ' LMXB-NS',
       'Radio galaxy', 'SNR'], dtype=object)

In [6]:
types = straycats.groupby('SL Type')

In [7]:
tot = 0.
for group in types.groups:
    print(group, len(types.groups[group]))
    tot += len(types.groups[group])

 Cluster 1
 LMXB-NS 1
?? 182
AGN 18
BHC 41
Eclipsing pulsar 42
HMXB-BH 33
HMXB-NS 55
LMXB-BH 15
LMXB-NS 284
NS 17
PWNe 61
Radio galaxy 2
SNR 4

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('./csv/target_info.csv')

In [10]:
types = df.groupby('Type')
tot = 0.

for group in types.groups:
    print(len(types.groups[group]), group)
    tot += len(types.groups[group])

print(tot)

1  Cluster
1  LMXB-NS
6 AGN
9 BHC
1 Eclipsing pulsar
4 HMXB-BH
15 HMXB-NS
1 LMXB
3 LMXB-BH
31 LMXB-NS
2 NS
3 PWNe
1 Radio galaxy
1 SNR
79.0

In [28]:
straycats[straycats['TIME'] < 0]

,STRAYID,Classification,SEQID,Module,Exposure,Multi,Primary,TIME,END_TIME,RA_PRIMARY,DEC_PRIMARY,SL Source,SL Type,SIMBAD_ID,RA_SL,DEC_SL
704,StrayCatsI_704,SL,30002041016,SS433,29526.1009,N,A,-1.0,-1.0,287.9816,5.0093,4U 1909+07,HMXB-NS,4U 1909+07,287.700892,7.597699

In [ ]:
numaster.loc[numaster['OBSID'] == 30201029002, 'TIME'].values[0]

In [ ]:
straycats.loc[(straycats['SEQID'] == 30201029002)&(straycats['Module'] == 'A'), 'TIME']

In [32]:
straycats.loc[(straycats['SEQID'] == 30002041016)]

,STRAYID,Classification,SEQID,Module,Exposure,Multi,Primary,TIME,END_TIME,RA_PRIMARY,DEC_PRIMARY,SL Source,SL Type,SIMBAD_ID,RA_SL,DEC_SL
704,StrayCatsI_704,SL,30002041016,SS433,29526.1009,N,A,-1.000000,-1.00000,287.9816,5.0093,4U 1909+07,HMXB-NS,4U 1909+07,287.700892,7.597699
705,StrayCatsI_705,SL,30002041016,A,29526.0401,N,SS433,57104.740361,57105.37925,287.9816,5.0093,X1908+075,HMXB-NS,1E 1908.4+0730,287.700892,7.597699

In [19]:
straycats.loc[straycats['SL Type'] == '??'].count()

STRAYID           182
Classification    182
SEQID             182
Module            182
Exposure          182
Multi             182
Primary           182
TIME              182
END_TIME          182
RA_PRIMARY        182
DEC_PRIMARY       182
SL Source         182
SL Type           182
SIMBAD_ID         182
RA_SL             182
DEC_SL            182
dtype: int64

In [15]:
straycats.count()

STRAYID           756
Classification    756
SEQID             756
Module            756
Exposure          756
Multi             756
Primary           756
TIME              756
END_TIME          756
RA_PRIMARY        756
DEC_PRIMARY       756
SL Source         756
SL Type           756
SIMBAD_ID         756
RA_SL             756
DEC_SL            756
dtype: int64

In [22]:
straycats.loc[straycats['Classification'] == 'GR'].count()

STRAYID           56
Classification    56
SEQID             56
Module            56
Exposure          56
Multi             56
Primary           56
TIME              56
END_TIME          56
RA_PRIMARY        56
DEC_PRIMARY       56
SL Source         56
SL Type           56
SIMBAD_ID         56
RA_SL             56
DEC_SL            56
dtype: int64

In [26]:
len(straycats.loc[straycats['Classification'] == 'Unkn', 'SEQID'].unique())

14