In [1]:
from astropy.table import Table
import pandas as pd

In [6]:
sc = Table.read('./fits/straycats_v2.fits')
for key in sc.columns:
    if sc[key].dtype.str.startswith('|S'):
        sc[key] = sc[key].astype('str')
        
        
nm = Table.read('./fits/numaster.fits')
numaster = nm.to_pandas()
numaster['OBSID'] = pd.to_numeric(numaster['OBSID'])

straycats = sc.to_pandas()

In [7]:
print(len(straycats['SEQID'].unique()))
print(len(straycats['SEQID']))

489
862

In [8]:
straycats['SL Type'].unique()

array(['??', 'HMXB-NS', 'AGN', 'LMXB-NS', 'NS', 'PWNe', 'LMXB-BH',
       'Cluster', 'BHC', 'Eclipsing pulsar', 'HMXB-BH', 'Radio galaxy',
       'SNR'], dtype=object)

In [9]:
types = straycats.groupby('SL Type')

In [10]:
tot = 0.
for group in types.groups:
    print(group, len(types.groups[group]))
    tot += len(types.groups[group])

?? 217
AGN 20
BHC 41
Cluster 2
Eclipsing pulsar 42
HMXB-BH 34
HMXB-NS 68
LMXB-BH 19
LMXB-NS 326
NS 18
PWNe 68
Radio galaxy 2
SNR 5

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('./csv/target_info.csv')

In [13]:
types = df.groupby('Type')
tot = 0.

for group in types.groups:
    print(len(types.groups[group]), group)
    tot += len(types.groups[group])

print(tot)

6 AGN
9 BHC
1 Cluster
1 Eclipsing pulsar
4 HMXB-BH
16 HMXB-NS
1 LMXB
4 LMXB-BH
33 LMXB-NS
2 NS
3 PWNe
1 Radio galaxy
1 SNR
82.0

In [14]:
straycats[straycats['TIME'] < 0]

Empty DataFrame
Columns: [STRAYID, Classification, SEQID, Module, Exposure, Multi, Primary, TIME, END_TIME, RA_PRIMARY, DEC_PRIMARY, SL Source, SL Type, SIMBAD_ID, RA_SL, DEC_SL]
Index: []

In [15]:
numaster.loc[numaster['OBSID'] == 30201029002, 'TIME'].values[0]

57519.85148361111

In [16]:
straycats.loc[(straycats['SEQID'] == 30201029002)&(straycats['Module'] == 'A'), 'TIME']

109    57519.851484
Name: TIME, dtype: float64

In [13]:
straycats.loc[(straycats['SEQID'] == 30002041016)]

,STRAYID,Classification,SEQID,Module,Exposure,Multi,Primary,TIME,END_TIME,RA_PRIMARY,DEC_PRIMARY,SL Source,SL Type,SIMBAD_ID,RA_SL,DEC_SL
704,StrayCatsI_704,SL,30002041016,A,29526.0401,Y,SS433,57104.740361,57105.37925,287.9816,5.0093,4U 1909+07,HMXB-NS,4U 1909+07,287.700892,7.597699
705,StrayCatsI_705,SL,30002041016,A,29526.0401,Y,SS433,57104.740361,57105.37925,287.9816,5.0093,X1908+075,HMXB-NS,1E 1908.4+0730,287.700892,7.597699

In [14]:
straycats.loc[straycats['SL Type'] == '??'].count()

STRAYID           182
Classification    182
SEQID             182
Module            182
Exposure          182
Multi             182
Primary           182
TIME              182
END_TIME          182
RA_PRIMARY        182
DEC_PRIMARY       182
SL Source         182
SL Type           182
SIMBAD_ID         182
RA_SL             182
DEC_SL            182
dtype: int64

In [17]:
straycats.count()

STRAYID           862
Classification    862
SEQID             862
Module            862
Exposure          862
Multi             862
Primary           862
TIME              862
END_TIME          862
RA_PRIMARY        862
DEC_PRIMARY       862
SL Source         862
SL Type           862
SIMBAD_ID         862
RA_SL             862
DEC_SL            862
dtype: int64

In [18]:
straycats.loc[straycats['Classification'] == 'GR'].count()

STRAYID           60
Classification    60
SEQID             60
Module            60
Exposure          60
Multi             60
Primary           60
TIME              60
END_TIME          60
RA_PRIMARY        60
DEC_PRIMARY       60
SL Source         60
SL Type           60
SIMBAD_ID         60
RA_SL             60
DEC_SL            60
dtype: int64

In [19]:
len(straycats.loc[straycats['Classification'] == 'Unkn', 'SEQID'].unique())

23

In [20]:
straycats.loc[straycats['Classification'] == 'Duplicate']

,STRAYID,Classification,SEQID,Module,Exposure,Multi,Primary,TIME,END_TIME,RA_PRIMARY,DEC_PRIMARY,SL Source,SL Type,SIMBAD_ID,RA_SL,DEC_SL
379,StrayCatsI_379,Duplicate,30301024002,A,37106.5707,Y,PNE_G343,57935.646634,57936.441773,255.3785,-43.1653,??,??,NA,-999.0,-999.0
594,StrayCatsI_594,Duplicate,30102038009,A,29891.8691,Y,SGR_1806m20,57490.552873,57491.212595,272.1872,-20.3861,??,??,NA,-999.0,-999.0