In [1]:
from astropy.table import Table
import pandas as pd

In [2]:
sc = Table.read('./fits/straycats.fits')
for key in sc.columns:
    if sc[key].dtype.str.startswith('|S'):
        sc[key] = sc[key].astype('str')
        
        
nm = Table.read('./fits/numaster.fits')
numaster = nm.to_pandas()
numaster['OBSID'] = pd.to_numeric(numaster['OBSID'])

straycats = sc.to_pandas()

In [3]:
print(len(straycats['SEQID'].unique()))
print(len(straycats['SEQID']))

436
756

In [4]:
straycats['SL Type'].unique()

array(['??', 'HMXB-NS', 'AGN', 'LMXB-NS', 'NS', 'PWNe', 'LMXB-BH',
       'Cluster', 'BHC', 'Eclipsing pulsar', 'HMXB-BH', 'Radio galaxy',
       'SNR'], dtype=object)

In [5]:
types = straycats.groupby('SL Type')

In [6]:
tot = 0.
for group in types.groups:
    print(group, len(types.groups[group]))
    tot += len(types.groups[group])

?? 182
AGN 19
BHC 41
Cluster 1
Eclipsing pulsar 42
HMXB-BH 33
HMXB-NS 55
LMXB-BH 15
LMXB-NS 284
NS 17
PWNe 61
Radio galaxy 2
SNR 4

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('./csv/target_info.csv')

In [9]:
types = df.groupby('Type')
tot = 0.

for group in types.groups:
    print(len(types.groups[group]), group)
    tot += len(types.groups[group])

print(tot)

6 AGN
9 BHC
1 Cluster
1 Eclipsing pulsar
4 HMXB-BH
15 HMXB-NS
1 LMXB
3 LMXB-BH
32 LMXB-NS
2 NS
3 PWNe
1 Radio galaxy
1 SNR
79.0

In [10]:
straycats[straycats['TIME'] < 0]

Empty DataFrame
Columns: [STRAYID, Classification, SEQID, Module, Exposure, Multi, Primary, TIME, END_TIME, RA_PRIMARY, DEC_PRIMARY, SL Source, SL Type, SIMBAD_ID, RA_SL, DEC_SL]
Index: []

In [11]:
numaster.loc[numaster['OBSID'] == 30201029002, 'TIME'].values[0]

57519.85148361111

In [12]:
straycats.loc[(straycats['SEQID'] == 30201029002)&(straycats['Module'] == 'A'), 'TIME']

109    57519.851484
Name: TIME, dtype: float64

In [13]:
straycats.loc[(straycats['SEQID'] == 30002041016)]

,STRAYID,Classification,SEQID,Module,Exposure,Multi,Primary,TIME,END_TIME,RA_PRIMARY,DEC_PRIMARY,SL Source,SL Type,SIMBAD_ID,RA_SL,DEC_SL
704,StrayCatsI_704,SL,30002041016,A,29526.0401,Y,SS433,57104.740361,57105.37925,287.9816,5.0093,4U 1909+07,HMXB-NS,4U 1909+07,287.700892,7.597699
705,StrayCatsI_705,SL,30002041016,A,29526.0401,Y,SS433,57104.740361,57105.37925,287.9816,5.0093,X1908+075,HMXB-NS,1E 1908.4+0730,287.700892,7.597699

In [14]:
straycats.loc[straycats['SL Type'] == '??'].count()

STRAYID           182
Classification    182
SEQID             182
Module            182
Exposure          182
Multi             182
Primary           182
TIME              182
END_TIME          182
RA_PRIMARY        182
DEC_PRIMARY       182
SL Source         182
SL Type           182
SIMBAD_ID         182
RA_SL             182
DEC_SL            182
dtype: int64

In [15]:
straycats.count()

STRAYID           756
Classification    756
SEQID             756
Module            756
Exposure          756
Multi             756
Primary           756
TIME              756
END_TIME          756
RA_PRIMARY        756
DEC_PRIMARY       756
SL Source         756
SL Type           756
SIMBAD_ID         756
RA_SL             756
DEC_SL            756
dtype: int64

In [16]:
straycats.loc[straycats['Classification'] == 'GR'].count()

STRAYID           56
Classification    56
SEQID             56
Module            56
Exposure          56
Multi             56
Primary           56
TIME              56
END_TIME          56
RA_PRIMARY        56
DEC_PRIMARY       56
SL Source         56
SL Type           56
SIMBAD_ID         56
RA_SL             56
DEC_SL            56
dtype: int64

In [17]:
len(straycats.loc[straycats['Classification'] == 'Unkn', 'SEQID'].unique())

13

In [18]:
straycats.loc[straycats['Classification'] == 'Duplicate']

,STRAYID,Classification,SEQID,Module,Exposure,Multi,Primary,TIME,END_TIME,RA_PRIMARY,DEC_PRIMARY,SL Source,SL Type,SIMBAD_ID,RA_SL,DEC_SL
379,StrayCatsI_379,Duplicate,30301024002,A,37106.5707,Y,PNE_G343,57935.646634,57936.441773,255.3785,-43.1653,??,??,NA,-999.0,-999.0
594,StrayCatsI_594,Duplicate,30102038009,A,29891.8691,Y,SGR_1806m20,57490.552873,57491.212595,272.1872,-20.3861,??,??,NA,-999.0,-999.0